@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}
