@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background-color: #ffffff !important;
}
.ant-badge-status-success {
  background-color: rgb(28, 190, 188) !important;
}
.p-card-body:hover {
  cursor: pointer;
}
.p-tabview .p-tabview-nav {
  display: flex;
  justify-content: center;
}
.p-tabview-title {
  margin-left: 10px;
}
