@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background-color: #ffffff !important;
}
.ant-badge-status-success {
  background-color: rgb(28, 190, 188) !important;
}
/* 
.p-timeline-event-connector {
  background-color: green;
} */
.p-card-body:hover {
  cursor: pointer;
}
.p-tabview .p-tabview-nav {
  display: flex;
  justify-content: center;
}
.p-tabview-title {
  margin-left: 10px;
}

.pi {
  font-size: 1.2rem;
  padding: 10px;
}

.p-divider.p-divider-horizontal:before {
  border-width: 1px;
}

.successimg {
  background-image: url('https://www.svgrepo.com/show/422280/correct-success-tick.svg');
  background-size: cover;
}

.failimg {
  background-image: url('https://www.svgrepo.com/show/367820/fail.svg');
  background-size: cover;
}
